node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# Stick to a single package manager client to avoid lockfile conflicts
yarn.lock

# macOS
.DS_Store
